<% layout("./layouts/boilerplate.ejs") %>

<body>
  <div class="row">
    <h4 class="col offset-sm-5 mt-3"><i class="fa-regular fa-face-frown"></i> oops!</h4>
  </div>
  <div class="row mt-5">
    <div class="alert alert-danger col-md-10 col offset-md-1 text-center" role="alert"><%= message %></div>
  </div>
</body>
